@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
    --font-outfit: 'Outfit', sans-serif;
}

@layer base {
    html {
        font-family: var(--font-outfit), sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-slate-50 text-slate-900;
    }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
}